<!DOCTYPE html>
<html>
<head>
    <title>Amazon</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- jQuery js -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="iBox">
        <div class="iBox-head">
            <h4>Add Collection</h4>
        </div>
        <div class="iBox-body">
            <div class="form-body" id="">
                <div class="form-group">
                    <label class="form-group-title" for="collectionName">Collection Name</label>
                    <input class="form-control" type="text" id="collectionName">
                </div>
                <div class="form-group">
                    <label class="form-group-title" for="phoneNumber">Phone Number</label>
                    <input class="form-control" type="number" id="phoneNumber">
                </div>
            </div>
            <div class="form-footer">
                <button class="btn btn-light" id="btn-send" type="submit" value="Send">Send</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#btn-send').on('click', function() {
            const collectionName = $('#collectionName').val();
            const phoneNumber = $('#phoneNumber').val();

            if(!blankCheck(collectionName)) {
                alert("Collection Name을 입력해주세요.");
                $('#collectionName').focus();
            } else if(!blankCheck(phoneNumber)) {
                alert("휴대폰 번호를 입력해주세요.");
                $('#phoneNumber').focus();
            } else {
                $.ajax({
                    type: "POST",
                    url: "/create/info",
                    data: "collectionName="+collectionName+"&phoneNumber="+phoneNumber,
                    success: function(result) {
                        console.log(result);
                        if(result.result) {
                            alert(result.msg);
                            location.href = "/create/info/multi";
                        } else {
                            alert(result.msg.message);
                            $('#collectionName').val('');
                            $('#phoneNumber').val('');
                            $('#collectionName').focus();
                        }
                    }
                });
            }
        });
    });

    function blankCheck(obj) {
        if(obj === null || obj === '')
            return false;
        const blank_pattern = /^\s+|\s+$/g;
        return (obj.replace(blank_pattern, "") !== "");
    }
</script>
</body>
</html>
