<!DOCTYPE html>
<html>
<head>
    <title>Amazon</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- jQuery js -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        #home {
            position: absolute;
            bottom: 100px;
            width: 48px;
            height: 48px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="iBox">
        <div class="iBox-body">
            <div>
                <div class="form-body">
                    <div class="form-group" style="margin-bottom: 16px;">
                        <label class="form-group-title">버켓 이름</label>
                        <input class="form-control" type="text" id="bucketName" placeholder="">
                    </div>
                    <div class="form-group" style="margin-bottom: 16px;">
                        <label class="form-group-title">이미지 이름</label>
                        <input class="form-control" type="text" id="imageName" placeholder="">
                    </div>
                </div>
                <div class="form-footer">
                    <button class="btn bg-green col-100" id="btn-send" type="submit" value="Send">Send</button>
                </div>
            </div>
        </div>
    </div>
    <span id="home">
        <img src="/icon/ic_home.svg">
    </span>
</div>

<script>
    $(document).ready(function() {
        $('#btn-send').on('click', function() {
            const bucketName = $('#bucketName').val();
            const imageName = $('#imageName').val();

            if (!blankCheck(bucketName)) {
                alert("bucket 이름을 입력해주세요.");
            } else if (!blankCheck(imageName)) {
                alert("image 이름을 입력해주세요.");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/check/exist/bucket",
                    data: "bucketName=" + bucketName,
                    success: function (result) {
                        if (result.result) {
                            $.ajax({
                                type: "POST",
                                url: "/check/exist/image",
                                data: "bucketName="+bucketName+"&imageName="+imageName,
                                success: function(result) {
                                    if(result.result) {
                                        $.ajax({
                                            type: "POST",
                                            url: "/test",
                                            data: "bucketName="+bucketName+"&imageName="+imageName,
                                            success: function(result) {
                                                alert(result.msg);
                                                $('#bucketName').val('');
                                                $('#imageName').val('');
                                            }
                                        });
                                    } else {
                                        alert(bucketName + " 버킷에 " + imageName + "가 존재하지 않습니다.");
                                        $('#imageName').focus();
                                    }
                                }
                            });
                        } else {
                            alert(bucketName + " 버킷이 존재하지 않습니다.");
                        }
                    }
                });
            }
        });

        $('#home').on('click', function() {
            location.href = '/create/info/multi';
        })
    });

    function blankCheck(obj) {
        if(obj === null || obj === '')
            return false;
        const blank_pattern = /^\s+|\s+$/g;
        return (obj.replace(blank_pattern, "") !== "");
    }
</script>
</body>
</html>
