<!DOCTYPE html>
<html>
<head>
    <title>Amazon</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- jquery 3.4.1 -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="iBox">
        <div class="iBox-head">
            <h4>Learning Rekognition</h4>
            <div class="tools">
                <img id="capture" src="/icon/ic_photo.svg">
            </div>
        </div>
        <div class="iBox-body">
            <div class="form-body">
                <div class="form-group">
                    <label class="form-group-title" for="collectionName">버켓 이름</label>
                    <input class="form-control" type="text" id="bucketName" placeholder="">
                </div>
                <div class="form-group">
                    <label class="form-group-title" for="phoneNumber">저장 이미지 이름</label>
                    <input class="form-control image-field" type="text" placeholder="">
                </div>
            </div>
            <div class="form-footer">
                <button class="btn bg-green col-75 m-r-xs" id="btn-send" type="submit" value="Send">Call Rek API</button>
                <button class="btn bg-amber col-25 m-l-xs" type="button" id="btn-add">
                    <svg width="25" height="25" viewBox="0 0 48 48" fill="#fff"><path d="M38 26H26v12h-4V26H10v-4h12V10h4v12h12v4z"/></svg>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- jQuery js -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    let image_cnt;
    $(document).ready(function() {
        image_cnt = 0;

        $('#capture').on('click', function() {
            location.href='/capture';
        });

        $('#btn-add').on('click', function() {
            addInput();
        });

        $('#btn-send').on('click', function() {
            const bucketName = $('#bucketName').val();
            let imageNames = [];

            const image_inputs = $('body').find('.image-field');
            for(let i=0;i<image_inputs.length;i++) {
                imageNames.push($(image_inputs[i]).val());
            }

            if (blankCheck(bucketName)) {
                alert("bucket 이름을 입력해주세요.");
            } else {
                const image_check = imageNames.some(function(image) {
                    return blankCheck(image);
                });

                if(image_check) {
                    alert("모든 image 이름을 입력해주세요.");
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/check/exist/bucket",
                        data: "bucketName=" + bucketName,
                        success: function (result) {
                            if (result.result) {
                                $.ajax({
                                    type: "POST",
                                    url: "/create/image",
                                    data: "bucketName="+bucketName+"&imageName="+JSON.stringify(imageNames),
                                    success: function(result) {
                                        if(result.result) {
                                            location.href="/test";
                                            image_cnt = 0;
                                        } else {
                                            alert(result.msg);
                                            location.href="/create/info";
                                        }
                                    }
                                });
                            } else {
                                alert(bucketName + " 버킷이 존재하지 않습니다.");
                            }
                        }
                    });
                }
            }
        });

        $(document).on('click', '.btn-remove', function() {
            const data_id = $(this).parent().parent().data('id');
            $('.form-body').find('.form-group[data-id="'+data_id+'"]').remove();
        });
    });

    function addInput() {
        const inputHtml = '<div class="form-group" data-id=' + image_cnt + '>' +
            '<label class="form-group-title">저장 이미지 이름</label>' +
            '<div class="input-group">' +
            '<input class="form-control image-field" type="text" placeholder="">' +
            '<span class="btn-remove">' + '<img src="/icon/ic_remove.svg" style="width: 30px; height: 30px; margin:4px 0 4px 10px;">' + '</span>' +
            '</div>' +
            '</div>';

        $('.form-body').append(inputHtml);
        image_cnt += 1;
    }

    function blankCheck(obj) {
        if(obj === null || obj === '')
            return true;
        const blank_pattern = /^\s+|\s+$/g;
        return (obj.replace(blank_pattern, "") === "");
    }
</script>
</body>
</html>
