<!DOCTYPE html>
<html>
<head>
  <title>Amazon</title>

  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- custom css -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- jQuery js -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style>
    .wrapper {
      display: flex;
      width: 100vw;
      height: 100vh;
      align-items: center;
      justify-content: center;
    }

    .m-b-35 {
      margin-bottom: 35px;
    }
  </style>
</head>
<body>
<div class="wrapper">
  <div class="card text-center page-category">
    <div class="card-body">
      <h5 class="card-title m-b-35">Single Input page</h5>
      <a href="/test" class="btn bg-green">>> Go page</a>
    </div>
  </div>
  <div class="card text-center page-category">
    <div class="card-body">
      <h5 class="card-title m-b-35">Dynamic Input page</h5>
      <a href="/create/info/multi" class="btn bg-green">>> Go page</a>
    </div>
  </div>
</div>
</body>
</html>
