<!DOCTYPE html>
<html>
<head>
    <title>Camera</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>

    <style>
        body {
            background-color: #fdfdfd;
        }

        .container {
            height: 100vh;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-video {
            display: flex;
            padding: 24px;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            border-radius: 10px;
            border: 1px solid #ccc;
            /*box-shadow: 0 2px 2px rgba(0,0,0,0.25), 0 1px 1px rgba(0,0,0,0.25);*/
        }

        .form-body {
            margin-bottom: 12px;
        }

        .form-footer {
            width: 100%;
        }

        .form-footer > button {
            width: 100%;
        }

        .form-footer > #btn-capture {
            margin-bottom: 8px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="form-video">
        <div class="form-body">
            <video id="camera-display" autoplay></video>
            <img src=""/>
            <canvas style="display: none" width="640" height="480"></canvas>
        </div>
        <div class="form-footer">
            <button type="button" class="btn btn-success" id="btn-capture" onclick="capture()">Capture</button>
            <button type="button" class="btn btn-light" id="btn-back">Back</button>
        </div>
    </div>
</div>

<script>
    function hasGetUserMedia() {
        return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia || navigator.msGetUserMedia);
    }

    if (hasGetUserMedia()) {
        // Good to go!
    } else {
        //alert('getUserMedia() is not supported in your browser');
        alert("지금 사용하는 브라우저에서는 사용할 수 없습니다.");
    }

    const errorCallback = function(e) {
        console.log('Reeeejected!', e);
    };

    const video = document.querySelector('video');
    const canvas =  document.querySelector("canvas");
    const ctx = canvas.getContext('2d');
    let localMediaStream = null;

    // Not showing vendor prefixes.
    navigator.getUserMedia({video: true, audio: true}, function(_localMediaStream) {

        localMediaStream = _localMediaStream;
        video.srcObject = localMediaStream;
        video.play();

        // Note: onloadedmetadata doesn't fire in Chrome when using it with getUserMedia.
        // See crbug.com/110938.
        video.onloadedmetadata = function(e) {
            // Ready to go. Do some stuff.
        };
    }, errorCallback);


    function capture() {
        if(localMediaStream) {
            ctx.drawImage(video, 0, 0);
            //document.querySelector('img').src = canvas.toDataURL("image/webp");
            canvas.toBlob(function(blob) {
                saveAs(blob, "pretty image.png");
            });

        }
    }

    $(document).ready(function(){
        $('#btn-back').on('click', function() {
            location.href='/create/info/multi';
        });
    });

</script>
</body>
</html>

