.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-category {
  width: 290px;
  margin: 25px;
  padding: 20px 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.iBox {
  width: 32em;
  border-radius: 10px;
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
}

.iBox-head {
  position:relative;
  padding: 20px 25px 8px 25px;
  text-align: center;
}

.iBox-body {
  padding: 8px 25px 20px 25px;
}

.tools {
  position: absolute;
  top: 23px;
  right: 28px;
}

.tools > #capture {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 2px 1px #4caf50;
}

.form-group-title {
  margin-bottom: .25rem;
  color: #555;
  font-size: 14px;
}

.bg-green {
  background-color: #66bb6a;
  color: #fff;
  transition: background-color .5s;
}

.bg-green:hover {
  background-color: #43a047;
  color: #fff;
}

.form-group:last-child {
  margin-bottom: 25px;
}

.form-footer {
  display: flex;
}

.bg-amber {
  display: flex;
  background-color: #ffca28;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background-color .5s;
}

.bg-amber:hover {
  background-color: #ffb300;
}

.col-100 {
  flex: 100%;
  max-width: 100%;
}

.col-75 {
  flex: 75%;
  max-width: 75%;
}

.col-25 {
  flex: 25%;
  max-width: 25%;
}

.m-l-xs {
  margin-left: 2px;
}

.m-r-xs {
  margin-right: 2px;
}

.btn-remove {
  cursor: pointer;
}